/*********TAG SELECTORS********/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  /* NOTE: 16px = 100% = 1em. */
  /* NOTE: Rem means ROOT EM. This means that it will
  ignore the settings of its parent and mantain it own. */
  line-height: 2;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  /* NOTE: 6px in weidht */
  ;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

/*********CLASS SELECTORS********/
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  text-decoration: none;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background: #66bfbf;
  padding: 50px 0 20px;
}

.web {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-me {
  width: 40%;
  margin: 40px auto 40px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.footer-link {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.idea-img {
  float: left;
  margin-right: 30px;
}

.gaming-img {
  float: right;
  margin-left: 30px;
}

.btn {
  box-shadow: 0px 10px 14px -7px #dbdbdb;
  background: linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
  background-color: #11cdd4;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 20px;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-top: 40px;
}

.btn:hover {
  background: linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
  background-color: #11999e;
}

.btn:active {
  position: relative;
  top: 1px;
}

/*********ID SELECTORS********/
